.normal-button {
  padding: 0.8rem;
  border: 0;
  font-size: 1.1rem;
  color: gray;
  background-color: rgb(235, 235, 235);
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.025), 0 3px 6px rgba(0, 0, 0, 0.05);
}

.normal-button:active {
  background-color: gainsboro;
}
