@import 'variables';

nav {
  display: grid;
}
// 네비게이션 바
#nav-big {
  background-color: wheat;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  // height: 8vh;
  li {
    text-align: center;
    line-height: 8vh;
    display: grid;
    a {
      font-size: $font-middle;
      font-weight: 900;
      cursor: pointer;
      // margin: 0 0.5rem;
    }
  }
  li:hover {
    background-color: rgb(235, 211, 166);
  }
  .search-input {
    position: relative;
    grid-column: span 6;
    display: grid;
    align-items: center;
    input {
      font-size: $font-small;
      border: none;
      padding: 0.5rem;
    }
    input:active {
      border: none;
    }
    p {
      position: absolute;
      top: 0;
      right: 1rem;
      font-size: $font-middle;
      font-weight: 900;
      cursor: pointer;
      color: gray;
    }
  }
}
