$chant-sub-background: rgb(255, 239, 234);

#player {
  display: grid;
  padding: 0;
  section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  #top {
    height: 1.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    h3 {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    div {
      display: flex;
      white-space: nowrap;
      span {
        line-height: 1.5rem;
        margin-right: 0.2rem;
      }
    }
  }
  #lyrics {
    overflow: auto;
    p {
      line-height: 2rem;
      span {
        cursor: pointer;
      }
      span:hover {
        color: green;
        font-weight: 900;
      }
      span:active {
        color: blue;
        font-weight: 900;
      }
    }
  }
  #lyrics-sub {
    background-color: $chant-sub-background;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.025), 0 3px 6px rgba(0, 0, 0, 0.05);
    height: 3rem;
    border-radius: 0.5rem;
    text-align: center;
    line-height: 3rem;
  }
  #buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    display: flex;
    #stop-button {
      margin: 0 1rem 1rem 1rem;
      width: 6rem;
    }
    #play-button {
      margin: 0 1rem 1rem 0;
      width: 100%;
    }
  }
}
