@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
$font-middle: 1.2rem;
$font-small: 1.1rem;
$font-smaller: 0.8rem;

// 공통
html {
  height: 100vh;
}
main,
a,
p,
ul,
li,
div,
h1,
h2,
h3,
h4,
h5,
input {
  font-family: "Nanum Gothic", sans-serif;
  color: rgb(61, 61, 61);
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

// 네비게이션 바
#nav-ul {
  background-color: wheat;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 4rem;
  li {
    // width: 100%;
    // height: 100%;
    text-align: center;
    line-height: 4rem;
    a {
      font-size: $font-middle;
      font-weight: 900;
      cursor: pointer;
      margin: 0 0.5rem;
    }
  }
  .search-input {
    position: relative;
    grid-column: span 5;
    display: grid;
    align-items: center;
    input {
      font-size: $font-small;
      border: none;
      padding: 0.5rem;
    }
    input:active {
      border: none;
    }
    p {
      position: absolute;
      top: 0;
      right: 1rem;
      font-size: $font-middle;
      font-weight: 900;
      cursor: pointer;
      color: gray;
    }
  }
}

// 메인
main {
  padding: 1rem;
  font-size: $font-small;
}

// chant
.chant-ul {
  display: grid;
  grid-auto-flow: row;
  li {
    display: grid;
    grid-template-columns: 2.3rem 1fr 1.5rem;
    p {
      padding: 0.3rem 0;
    }
    .chant-index {
      cursor: default;
      text-align: center;
    }
    .chant-title {
      cursor: default;
      padding-left: 0.7rem;
    }
    .chant-ellipsis {
      cursor: pointer;
      text-align: center;
    }
  }
  li:hover {
    background-color: rgb(247, 247, 247);
  }
  .chant-sub {
    background-color: rgb(255, 211, 195);
    p {
      grid-column: span 3;
      display: flex;
      justify-content: center;
      span {
        margin: 0 0.2rem;
      }
      .chant-v,
      .chant-x {
        cursor: pointer;
      }
    }
  }
}

// 공통 특수
.hidden {
  display: none !important;
}
