@import '../../styles/variables.scss';

.drop-down {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  cursor: pointer;

  ul {
    display: none;
  }

  &:hover {
    background-color: rgb(235, 211, 166);
    border: 0;

    ul {
      display: block;
      position: absolute;
      margin: 1rem;
      top: $nav-height - 2rem;
      z-index: 2;
      width: 7rem;
      background-color: whitesmoke;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.1);

      li {
        line-height: 6vh;
        padding: 0.2rem 1rem;

        a {
          font-size: $font-small;
        }

        &:hover {
          background-color: rgb(233, 233, 233);
        }
      }
    }
  }
}
