@import '../../styles/variables.scss';

.nav {
  display: grid;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);

  ul {
    display: grid;
    background-color: wheat;

    li {
      text-align: center;
      line-height: $nav-height;
      display: grid;

      a {
        font-size: $font-middle;
        font-weight: 900;
        cursor: pointer;
      }

      &:hover {
        background-color: rgb(235, 211, 166);
      }
    }
  }
}

.nav__long-items {
  display: grid !important;
  grid-template-columns: repeat(8, 1fr);

  .nav__search {
    grid-column: span 6;
  }
}

.nav__short-items {
  display: none !important;
}

@media (max-width: 500px) {
  .nav__short-items {
    display: grid !important;
    grid-template-columns: repeat(6, 1fr);

    .nav__search {
      grid-column: span 4;
    }
  }

  .nav__long-items {
    display: none !important;
  }
}
