@import '../../styles/variables.scss';

.nav {
  display: grid;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
  ul {
    background-color: wheat;
    // display: grid;
    li {
      text-align: center;
      line-height: $nav-height;
      display: grid;
      a {
        font-size: $font-middle;
        font-weight: 900;
        cursor: pointer;
      }
    }
    li:hover {
      background-color: rgb(235, 211, 166);
    }
  }
}

.nav__long-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.nav__search {
  grid-column: span 6;
}

.nav__short-list {
  display: none;
}

@media (max-width: 500px) {
  .nav__long-list {
    display: none;
  }

  .nav__short-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .nav__search {
    grid-column: span 4;
  }
}
